<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3">
                <img src="./../img/logo.png" alt="">
            </div>
            <div class="col-lg-8 hidden-md hidden-sm hidden-xs">
                <p>Мы закупаем цветы напрямую из теплиц, а не на цветочных рынках. <br>
                   Благодаря этому наши букеты свежее на 2-3 суток.</p>
            </div>
            <div class="col-lg-2 call hidden-xs">
                <h1>8 (495) 776-26-16</h1>
                <p>круглосуточная доставка</p>
            </div>
        </div>
    </div>
</header>

<section class="intro">
    <div class="paralax_intro"></div>
    <div class="paralax_intro_2"></div>
    <div class="paralax_intro_3"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Доставка свежих роз
                    и тюльпанов</h1>
                <h2>прямо из теплиц в течении 2-х часов или в указанное время</h2>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <p>Введите Ваш номер телефона, и мы поможем Вам <br>
                   подобрать лучший вариант букета:</p>
                
                <form action="">
                    <input type="text" maxlength="2" placeholder="+7" required>
                    <input type="text" maxlength="5" placeholder="(961)" required>
                    <input type="text" maxlength="9" placeholder="385-82-84" required>
                    <button class="btn_apply" type="submit">ОТПРАВИТЬ</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="line_ico">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ico_box">
                <img src="./../img/ico_1.png" alt="" height="35px">
                <p>Бесплатная доставка</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ico_box">
                <img src="./../img/ico_2.png" alt="" height="35px">
                <p>Самые свежие розы из теплиц</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ico_box">
                <img src="./../img/ico_3.png" alt="" height="35px">
                <p>Удобные способы оплаты</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ico_box">
                <img src="./../img/ico_4.png" alt="" height="35px">
                <p>Открытка в подарок</p>
            </div>
        </div>
    </div>
</section>

<!-- Конструктор -->

<h1 class="constr_h1">
    Выберите подходящий для Вас вариант:
</h1>

<section class="constr">
    <div class="container">
        <div class="row">
            <ui-view></ui-view>
        </div>
    </div>
</section>

<!-- Конструктор -->

<section class="section_3">
    <h1>Хотите получить скидку на цветы?</h1>
    <p>Подпишитесь на нас в инстаграмме <br>
       и получите гарантированно скидку 5%</p>
    <div class="btn_apply">ПОДПИСАТЬСЯ И ПОЛУЧИТЬ СКИДКУ</div>
</section>

<section class="section_4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Почему именно мы?</h1>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="title_box title_box_1 col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
                    <h2>Самые свежие цветы</h2>
                    <p>Мы гарантируем качество и свежесть цветов,
                       потому что Вы получаете цветы прямо из теплицы,
                       а это значит, что они будут стоять долго.</p>
                </div>
                <div class="title_box title_box_2 col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
                    <h2>Доставим заказ по номеру телефона</h2>
                    <p>Вам не обязательно знать адрес получателя, достаточно просто дать нам его номер телефона, и мы сами красиво узнаем, куда доставить цветы. </p>
                </div>
                
                <div class="title_box title_box_3 col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
                    <h2>Быстрая и удобная доставка</h2>
                    <p>Мы доставим цветы по адресу уже через 2 часа после заказа или Вы сами сможете выбрать удобное время доставки. Мы работаем круглосуточно.</p>
                </div>
                <div class="title_box title_box_4 col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
                    <h2>Профессиональное  оформление</h2>
                    <p>Каждый букет оформляется профессиональным флористом с опытом работы и исключительным чувством стиля.</p>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Как мы работаем?</h1>
            </div>
            
            <div class="stap col-lg-12 hidden-md hidden-sm hidden-xs">
                <p class="text_1">Вы оформляете <br>заказ</p>
                <p class="text_2">С вами связывается наш менеджер<br> для подтверждения заказа</p>
                <p class="text_3">Вы оплачиваете заказ удобным<br> для вас способом</p>
                <p class="text_4">Букет доставляется<br> получателю</p>
            </div>
            
            <div class="stap_2 col-md-12 hidden-lg col-sm-12 col-xs-12">
                <p class="text_box">Вы оформляете заказ</p>
                <p class="text_box">С вами связывается наш менеджер для подтверждения заказа</p>
                <p class="text_box">Вы оплачиваете заказ удобным для вас способом</p>
                <p class="text_box">Букет доставляется получателю</p>
            </div>
        </div>
    </div>
</section>

<section class="section_5">
    <div class="paralax_bot"></div>
    <div class="paralax_bot_2"></div>
    <h1>К каждому букету</h1>
    <p>Вы бесплатно получите дизайнерскую открытку с текстом,<br> который вы желаете передать получателю</p>
    
    <img src="./../img/table.png" alt="">
    
    <h2>Что Вы напишите?</h2>
    
    <form action="">
        <textarea name="" id="" cols="30" rows="10" placeholder="Введите текст, которй хотите видеть на открытке"></textarea><br>
        <button class="btn_apply">ЗАКАЗАТЬ БУКЕТ С ОТКРЫТКОЙ</button>
    </form>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <h1>Остались вопросы?</h1>
                <p>Укажите свои данные, и мы Вам перезвоним <br>
                   в течении 5-ти минут</p>
                
                <form action="">
                    <input type="text" maxlength="2" placeholder="+7" required>
                    <input type="text" maxlength="5" placeholder="(961)" required>
                    <input type="text" maxlength="9" placeholder="385-82-84" required>
                    <button class="btn_apply" type="submit">ОТПРАВИТЬ</button>
                </form>
            </div>
        </div>
    </div>
</footer>