<div class="constr_step_1">
    <div class="item col-lg-4 col-md-6 col-sm-12 col-xs-12"
         ng-class="rose[0].class"
         ng-repeat="(key, rose) in rosesType">
        <div class="name_item"
             ng-bind="rose[0].title"></div>
        <div class="buy_item btn_apply"
             ng-click="selectItem(rose, key)">выбрать
        </div>
    </div>
</div>

<!--<div class="constr_step_1">-->
<!--<div class="item item_1 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Обычные розы</div>-->
<!--<div class="buy_item btn_apply" id="btn_rose">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_2 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Кустовые розы</div>-->
<!--<div class="buy_item btn_apply" id="btn_kyst">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_3 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Длинные розы</div>-->
<!--<div class="buy_item btn_apply" id="btn_gig">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_4 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Синие розы</div>-->
<!--<div class="buy_item btn_apply">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_5 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Радужные розы</div>-->
<!--<div class="buy_item btn_apply">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_6 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Пионы</div>-->
<!--<div class="buy_item btn_apply">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_7 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Гортензии</div>-->
<!--<div class="buy_item btn_apply">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_8 col-lg-4 col-md-6 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Тюльпаны</div>-->
<!--<div class="buy_item btn_apply">выбрать</div>-->
<!--</div>-->
<!---->
<!--<div class="item item_9 col-lg-4 col-md-12 col-sm-12 col-xs-12">-->
<!--<div class="name_item">Розы в шляпной коробке</div>-->
<!--<div class="buy_item btn_apply">выбрать</div>-->
<!--</div>-->
<!--</div>-->

